application/cache/
application/config/database.php
application/core/
application/hooks/
application/language/
application/logs/
application/third_party/
application/.htaccess
application/index.html
assets/apps/
assets/global/
assets/layouts/
assets/pages/
assets/photos/
assets/bootzard-registration/
assets/colorlib/
assets/.DS_Store
template/
user_guide/
.editorconfig
.htaccess
composer
/.vscode
.gitignore