application/cache/*
application/config/*
application/core/*
application/helpers/*
application/hooks/*
application/language/*
application/libraries/*
application/logs/*
application/third_party/*
application/.htaccess
application/index.html
application/views/errors/*
assets/apps/*
assets/global/*
assets/layouts/*
assets/pages/*
assets/photos/*
assets/bootzard-registration/*
assets/colorlib/*
assets/colorlib/*
assets/CUSTOM-PLUGINS/*
assets/.DS_Store
system/
template/
user_guide/
upload/*
.editorconfig
.htaccess
composer
index.php